.wrapper{
    width: 25%;
    height: 140px;
    border: 1px solid #DBDBDB;
    margin: 200px auto;
    border-radius: 5px;
}

.welcome_txt{
    font-size: 12px;
    padding-left:5%;
    margin-top: 19px;
    font-weight: 400;
}

.login_btn{
    width: 90%;
    height: 40px;
    background-color: #711BFF;
    border: 2px solid #711BFF;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    margin: 16px 5% ;
}

.login_btn img{
    width: 64px;
    vertical-align: bottom;
}



.float a{
    text-decoration: none;
    font-size: 12px;
    color: #767676;
}
.float img{
    width: 16px;
    vertical-align: bottom;
}

.left{
    float: left;
    padding-left: 5%;
}

.right{
    float: right;
    padding-right: 5%;
}

/* .wrapper{
    width: 350px;
    height: 140px;
    border: 1px solid #DBDBDB;
    margin: 200px auto;
    border-radius: 5px;
}

.welcome_txt{
    font-size: 12px;
    padding-left:16px;
    margin-top: 19px;
    font-weight: 400;
}

.login_btn{
    width: 318px;
    height: 40px;
    background-color: #711BFF;
    border: 2px solid #711BFF;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    margin: 16px;
}

.login_btn img{
    width: 64px;
    vertical-align: bottom;
}



.float a{
    text-decoration: none;
    font-size: 12px;
    color: #767676;
}
.float img{
    width: 16px;
    vertical-align: bottom;
}

.left{
    float: left;
    padding-left: 16px;
}

.right{
    float: right;
    padding-right: 16px;
} */