h1{
    margin:0px
}
div{
    margin: 0;
}

body{
    background-image: url(images/bg.png);
}

.img{
    text-align: center;
}
.img img{
    display: block;
    margin: auto;
    z-index: 1212
}

.ground{
    width: 300px;
    margin: 0 auto;
    background-color: #9E6236;
    color: white;
    border-radius: 0 0 30px 30px;
    box-shadow: 0 10px 0  #41210a ;
    z-index: -1;

}

.ground h1,p{
    margin: 0 20px;
}
.ground p{
    padding-bottom: 30px;
}