@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

body{
    background-color: #5B2386 ;
}

.wrapper{
    margin: 0 auto;
    text-align: center;
    width: 1280px;
}
.header{
    background: url(../img/clock.png) center no-repeat;
    background-size: contain;
}
.title_img{
    width: 600px;
    height: 225px;
    overflow: hidden;
    position: relative;
    margin: 100px auto;
    
}
.title_img img{
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.yellow_txt{
    color:#F5DF4D ;
    font-size: 36px;
    font-family: 'OTEnjoystoriesBA';
    margin: 100px;
}
.qoute{
    width:700px;
}
.main_txt{
    margin: 100px;
    color: white;
    font-size: 24px;
    background: url(../img/quotes.png) no-repeat center;
    background-size: 800px;
    line-height: 40px;
    font-family: 'GmarketSansMedium'
}

.gmarket_bold{
    font-family: 'GmarketSansBold';
}

.input_txt{
    color:white;
    font-family: 'GmarketSansMedium';
    line-height: 80px;
    font-size: 28px;
}

.input{
    width: 228px;
    height: 57px;
    border-radius: 7px;
}

.input::placeholder {
    color: #ccc;
    font-family:'GmarketSansMedium';
    padding: 0 20px;
    font-size: 20px;
  }

.btn{
    width: fit-content;
    height: 66px;
    border-radius: 56px;
    border : 1px solid transparent;
    color: #5B2386;
    font-size: 22px;
    font-weight: bold;
    font-family: 'GmarketSansBold';
    padding: 0 40px;
    margin: 80px 10px;
}

.yellow_btn{
    position: relative;
    background-color: #F5DF4D;
}
.yellow_btn + .finger{
    background: url(../img/click.png) no-repeat;
    position: absolute;
    transform: translateX(900px) translateY(-120px);
    color: transparent;
}

.result{
    color: white;
    font-size: 24px;
    line-height: 72px;
    font-family: 'GmarketSansMedium';
}

.big_txt{
    font-size: 72px;
    font-family: 'GmarketSansBold';
}

.footer{
    color: #eeee;
    line-height: 24px;
    margin: 30px 0;
    font-family: 'Noto Sans KR';
}

.cont-modal{
    background-color: white;
    width: 600px;
    height: 600px;
    border-radius: 20px;
    color: #5B2386;
    font-family: 'OTEnjoystoriesBA';
    font-size: 34px;
    padding-top: 20px;
    box-shadow: 12px 12px 12px 11px rgba(0, 0, 0, 0.2);
}

.fighting{
    font-size: 80px;
}
.cont-modal button{
    margin: 40px;
}